body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5ae;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.food-card, .search-food-card {
    background-color: #1c04a2;
    border: 2px solid #2c08cb;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: hidden;
    transition: transform 0.2s;
}
.food-card:hover, .search-food-card:hover {
    transform: translateY(-5px);
}